@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";




:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

* {
  @apply font-EncodeSans;
}

h1 { @apply flex flex-row justify-center items-center };

.flexCenter { @apply flex flex-row justify-center items-center};
.flexAround { @apply flex flex-row justify-around items-center};
.flexBetween { @apply flex flex-row justify-between items-center};
.flexStart { @apply flex flex-row justify-start items-center};
.flexEnd { @apply flex flex-row justify-end items-center};

.helloWorld {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #faf5aac2;
}



/********************************************    CUSTOM CSS   *******************************************/



.title-text-shadow1{
  text-shadow: 0 0 4px #000000;
}

.title-text-shadow2{
  text-shadow: 0 0 4px #d3e0d3;
}

.title-text-shadow3{
  text-shadow: 0 0 5px #e2eee2;
}

.title-text-shadow4{
  text-shadow: 0 0 1px #0db915;
}

.title-text-no-shadow{
  text-shadow: 0 0 0 #e2eee2;
}

