@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";




:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

* {
  @apply font-EncodeSans;
}

h1 { @apply flex flex-row justify-center items-center };

.flexCenter { @apply flex flex-row justify-center items-center};
.flexAround { @apply flex flex-row justify-around items-center};
.flexBetween { @apply flex flex-row justify-between items-center};
.flexStart { @apply flex flex-row justify-start items-center};
.flexEnd { @apply flex flex-row justify-end items-center};

.flexColCenter { @apply flex flex-col justify-center items-center};
.flexColAround { @apply flex flex-col justify-around items-center};
.flexColBetween { @apply flex flex-col justify-between items-center};
.flexColStart { @apply flex flex-col justify-start items-center};
.flexColEnd { @apply flex flex-col justify-end items-center};

.flexCenterStart { @apply flex flex-row justify-center items-start }
.flexStartStart { @apply flex flex-row justify-start items-start }
.flexStartCenter { @apply flex flex-row justify-start items-center }
.flexCenterEnd { @apply flex flex-row justify-center items-end }
.flexEndEnd { @apply flex flex-row justify-end items-end }
.flexEndCenter { @apply flex flex-row justify-end items-center }
.flexStartEnd { @apply flex flex-row justify-start items-end }
.flexEndStart { @apply flex flex-row justify-end items-start }

.flexColCenterStart { @apply flex flex-col justify-center items-start }
.flexColStartStart { @apply flex flex-col justify-start items-start }
.flexColStartCenter { @apply flex flex-col justify-start items-center }
.flexColCenterEnd { @apply flex flex-col justify-center items-end }
.flexColEndEnd { @apply flex flex-col justify-end items-end }
.flexColEndCenter { @apply flex flex-col justify-end items-center }
.flexColStartEnd { @apply flex flex-col justify-start items-end }
.flexColEndStart { @apply flex flex-col justify-end items-start }

.flexAroundStart { @apply flex flex-row justify-around items-start};

.helloWorld {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #faf5aac2;
  color: #0002056e;
  position: static;
}



/********************************************    CUSTOM CSS   *******************************************/



.title-text-shadow1{
  text-shadow: 0 0 6px #000000;
}

.title-text-shadow2{
  text-shadow: 0 0 4px #d3e0d3;
}

.title-text-shadow3{
  text-shadow: 0 0 5px #e2eee2;
}

.title-text-shadow4{
  text-shadow: 0 0 1px #0db915;
}

.title-text-no-shadow{
  text-shadow: 0 0 0 #e2eee2;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate .7s linear infinite;
}

.box-shadow {
  box-shadow: 0px 4px 10px 5px rgba(39, 42, 53, 0.9);
}

.profile-pics-bg {

}




/* .bg-style {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-style::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/bg-png2.png");
  background-size: cover;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
} */



